@use "sass:map";

$colors: (
        "brand": hsl(198 100% 44%),
        "fond": hsl(228 23% 25%),
        "gray": hsl(208 19% 74%),
        "light-gray": hsl(197 24% 94%), 
        "text": hsl(232 9% 17%)
        );

$spacings: (
        "auto": auto,
        "1": 0.5rem,
        "2": 1rem,
        "3": 1.5rem,
        "4": 2rem,
        "5": 2.5rem,
        "6": 3rem,
        "7": 3.5rem,
        "8": 4rem,
        "9": 4.5rem,
        "10": 5rem,
);

$tokens: (
        text: (
                data: $colors,
                property: 'color'
        ),
        background: (
                data: $colors,
                property: 'background-color'
        ),
        border: (
                data: $colors,
                property: 'border-color'
        ),
        fill: (
                data: $colors,
                property: 'fill'
        ),
        stroke: (
                data: $colors,
                property: 'stroke'
        ),
        margin: (
                data: $spacings,
                property: 'margin'
        ),
        margin-top: (
                data: $spacings,
                property: 'margin-top'
        ),
        margin-right: (
                data: $spacings,
                property: 'margin-right'
        ),
        margin-bottom: (
                data: $spacings,
                property: 'margin-bottom'
        ),
        margin-left: (
                data: $spacings,
                property: 'margin-left'
        ),
        padding: (
                data: $spacings,
                property: 'padding'
        ),
        padding-top: (
                data: $spacings,
                property: 'padding-top'
        ),
        padding-right: (
                data: $spacings,
                property: 'padding-right'
        ),
        padding-bottom: (
                data: $spacings,
                property: 'padding-bottom'
        ),
        padding-left: (
                data: $spacings,
                property: 'padding-left'
        ),

);
