---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import NicTool from '../assets/nictool.svg?raw';
---

<Layout>
    <section>
        <h2>Hier steht was</h2>
    </section>
    <section>
        <div class="cards">
			<Card title="MCS NicTool" url="/willkommen">
				<div slot="icon">
                    <Fragment set:html={NicTool} />
				</div>
				Verwalten Sie die DNS-Einträge Ihrer Domains. Behalten Sie die Übersicht mit Kommentarfunktion und Historie.
			</Card>
		</div>
    </section>
    <section>
        <h2>Und hier auch</h2>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem
            lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </section>
</Layout>
