---
import Welcome from '../components/Welcome.md';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section>
        <h2>Hier steht was</h2>
    </section>
    <section>
        <Welcome/>
    </section>
    <section>
        <h2>Und hier auch</h2>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem
            lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </section>
</Layout>
