---
const { title, url } = Astro.props;
---

<a href={url} class="card">
    <div class="card-icon">
        <slot name="icon" />
    </div>
    <div class="card-body">
        <h2>{title}</h2>
        <slot />
    </div>
</a>

<style>
    .card {
        display: block;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        transition: box-shadow 0.3s ease;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-icon {
        padding-top: var(--spacing-2);
        text-align: center;
    }

    .card-body {
        font-size: var(--scale-0);
        color: var(--color-text);
        padding: 0 var(--spacing-2) var(--spacing-2);
    }

    h2 {
        font-size: var(--scale-2);
        text-align: center;
        margin-top: 0;
        margin-bottom: var(--spacing-1);
    }
</style>
