---
import Layout from "./Layout.astro";

import { getCollection } from 'astro:content';
const articles = await getCollection('domain_dns');
---

<Layout>
    <section>
        <ul>
        {articles.map(post => (
                <li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
        ))}
        </ul>
    </section>
    <article>
        <slot />
    </article>
</Layout>