---
import '../styles/styles.scss';
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCS Support</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/" aria-label="Home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="118" height="62" viewBox="0 0 118 44"><g fill="none"><path class="mcs-logo--sign" d="M26.9575066 13.9539762C26.9575066 10.3934059 29.6618424 7.51035292 32.9957591 7.51035292 36.3296758 7.51035292 39.0340117 10.4078211 39.0340117 13.9539762L39.0340117 27.4754946 46.4745124 27.4754946 46.4745124 13.9539762C46.4745124 6.25622489 40.4219512 0 32.9957591 0 29.1610395 0 25.6840363 1.67217071 23.2372562 4.33899468 20.7761675 1.67217071 17.3134729 0 13.4787533 0 6.03825254 0 0 6.25622489 0 13.9539762L0 27.4754946 7.44050075 27.4754946 7.44050075 13.9539762C7.44050075 10.3934059 10.1448366 7.51035292 13.4787533 7.51035292 16.81267 7.51035292 19.5170058 10.4078211 19.5170058 13.9539762L19.5170058 27.4754946 26.9575066 27.4754946 26.9575066 13.9539762ZM117.889011 13.4061962C117.431134 6.15531803 111.636129.374796883 104.49611.374796883 96.6120406.374796883 91.3178381 5.34806321 91.3178381 12.7719245L91.3178381 12.9449077C91.4179987 15.0927822 92.8059383 19.2876242 97.4276339 21.3345918 98.6152523 21.8535413 99.8887226 22.3148298 101.233736 22.8049488 106.556556 24.7365943 110.334041 26.3511039 110.548671 29.6810301 110.648831 31.1946328 110.004942 32.9244646 108.917484 34.0921011 107.815718 35.2741528 106.327618 35.8795939 104.49611 35.8795939 101.348205 35.8795939 98.4578571 33.6019821 98.4578571 28.2539188L98.4578571 27.4899098 91.017331 27.4899098 91.017331 28.3980715C91.0030477 37.1625524 97.0556089 43.3611163 104.49611 43.3611163 108.416681 43.3611163 111.822141 41.9195898 114.354773 39.20952 116.858788 36.5282808 118.203801 32.780312 117.974863 29.1909111 117.431134 20.7003201 109.203657 17.7163603 103.75206 15.7414691 102.535824 15.2945959 101.376823 14.8765532 100.432452 14.4585105 99.0874379 13.8530694 98.7583389 12.7142635 98.8012648 11.9935002 98.8012648 8.8653878 102.077947 7.87073454 104.49611 7.87073454 107.543853 7.87073454 110.033559 10.292499 110.44851 13.4061962L117.889011 13.4061962ZM63.4588862 31.8865656 57.449251 36.4273739C59.7958705 40.5501397 64.0884671 43.3611163 69.0392618 43.3611163 76.4797626 43.3611163 82.5180151 37.1193066 82.5180151 29.4359706L82.5180151 27.4754946 75.0775143 27.4754946 75.0775143 29.4359706C75.0775143 32.9821257 72.3731785 35.8651786 69.0392618 35.8651786 66.5209385 35.8651786 64.3746402 34.2218384 63.4588862 31.8865656M82.4321632 13.4061962C81.9742862 6.14090277 76.1792808.360381618 69.0392618.360381618 61.5987611.360381618 55.5605085 6.60219124 55.5605085 14.2855273L55.5605085 18.3073862 55.5605085 27.4610793 63.0010093 27.4610793 63.0010093 18.3073862 63.0010093 14.2999426C63.0010093 10.7537875 65.7053451 7.87073454 69.0392618 7.87073454 72.0870054 7.87073454 74.5767114 10.292499 74.9916624 13.4061962L82.4321632 13.4061962Z"></path></g></svg>
                        support
                    </a>
                </li>
                <li><a href="/knowledgebase">Knowledge Base</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <slot />
    </main>
</body>
</html>

<style>
.mcs-logo--sign	{
	fill: var(--color-brand);
}
li:first-child {
    font-size: var(--scale-2);
    font-weight: bold;
    a:hover {
        text-decoration: none;
    }
}
svg {
    vertical-align: bottom;
    margin-right: 2px;
}
</style>
